/* 
    Document   : layout
    Created on : 14/09/2012, 18:52:47
    Author     : Romulo
    Description:
        Purpose of the stylesheet follows.
*/
body {
    background:#ddd;
}
.content-top {
    margin-top: 110px;
}
.cinza {
    color: grey;
}
.red {
    background: red;
}
.img-margin img{
    margin-bottom: 4px;
    width: 50px;
    height: 50px;
}
.item-feed {
    margin-bottom: 20px;
    margin-right: 15px;
}
.item-feed h4, hr{
    clear: both;
}
.item-feed img{
    position: relative;
    margin-right: 15px;
    margin-bottom: 20px;
    /* display: none; */
}
.descricao-feed {
    margin-top: 6px;
    position:relative;
}
hr {
    border-top: 1px solid #999;
}

.logo {
    background: url("../img/logo-dehbora-duplo.png") no-repeat;
    width:150px;
    height:70px;
}
.logo:hover {
    background-position: 0 -70px;
}
.logo-footer {
    position: relative;
    float: left;
    background: url("../img/logo-dehbora-footer.png") no-repeat;
    margin-top: 10px;
    width:120px;
    height:56px;
}
.logo-footer:hover {
    background-position: 0 -56px;
}

.footer {
    background: #da1f6e;
    height: 100px;
}

.copyright {
    margin-top: 20px;
    position: relative;
    float: right;
    width: 500px;
    color: #fff;
    text-align: right;
}
/*
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    -webkit-border-radius: 16px;
}
::-webkit-scrollbar-track-piece {
    background-color: #e4e6e8;
    -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
*/